name: Run ARMOR via action
on:
  push:
    branches: [ main ]
  pull_request_target:
    branches: [ main ]

permissions:
  contents: read
  pull-requests: write
  statuses: write
  
jobs:
  print-shas:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      # Derive event-specific SHAs using the event payload.
      # For pull_request:
      #   head = github.event.pull_request.head.sha
      #   base = github.event.pull_request.base.sha
      # For push:
      #   head = github.event.after
      #   base = github.event.before
      - name: Set event variables
        id: ev
        run: |
          echo "event_name=${{ github.event_name }}" >> "$GITHUB_OUTPUT"
          echo "repo-token=${{ secrets.QCOMLNXCI_PAT }}"
          if [[ "${{ github.event_name }}" == "pull_request_target" ]]; then
            echo "head_sha=${{ github.event.pull_request.head.sha }}" >> "$GITHUB_OUTPUT"
            echo "base_sha=${{ github.event.pull_request.base.sha }}" >> "$GITHUB_OUTPUT"
            echo "branch_name=${{ github.head_ref }}" >> "$GITHUB_OUTPUT"
          else
            # push
            echo "head_sha=${{ github.event.after }}" >> "$GITHUB_OUTPUT"
            echo "base_sha=${{ github.event.before }}" >> "$GITHUB_OUTPUT"
            echo "branch_name=${{ github.ref_name }}" >> "$GITHUB_OUTPUT"
          fi
          echo "ref=${{ github.ref }}" >> "$GITHUB_OUTPUT"
          echo "repo=${{ github.repository }}" >> "$GITHUB_OUTPUT"

      - name: Run ARMOR Tool
        uses: qualcomm-linux-stg/armor@main
        with:
          event-name: ${{ steps.ev.outputs.event_name }}
          repo-token: ${{ secrets.QCOMLNXCI_PAT }}
          head-sha:   ${{ steps.ev.outputs.head_sha }}
          base-sha:   ${{ steps.ev.outputs.base_sha }}
          ref:        ${{ steps.ev.outputs.ref }}
          repo:       ${{ steps.ev.outputs.repo }}
          branch-name: ${{ steps.ev.outputs.branch_name }}
